<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
	  <file value="C:\Windows\Temp\OpportunisticLogging.txt" />
	  <appendToFile value="true" />
	  <rollingStyle value="Size" />
	  <maxSizeRollBackups value="2" />
	  <maximumFileSize value="200KB" />
	  <staticLogFileName value="true" />
	  <layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
	  </layout>
	</appender>
	<appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender" >
	  <bufferSize value="512" />
	  <lossy value="true" />
	  <evaluator type="log4net.Core.LevelEvaluator">
		<threshold value="ERROR"/>
	  </evaluator>
	  <appender-ref ref="RollingFileAppender" />
	</appender>
	<root>
	  <level value="INFO" />
	  <appender-ref ref="BufferingForwardingAppender" />
	</root>
  </log4net>
</configuration>